body {
	padding: 20px;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    color: #5C5C5C; /* Default text color for body */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

main {
  margin: 20px; /* Add margin to the main content container */
}

.title {
    font-size: 20px; /* Adjust font size as needed */
    margin: 0; /* Remove default margin */
}

.counter {
    display: flex;
    align-items: center;
}

.counter img {
    width: 30px; /* Adjust icon size as needed */
    margin-left: 5px; /* Add spacing between number and icon */
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#searchInput {
  width: 250px;
  height: 40px;
  background-color: #F0F0F0;
  border: none;
  border-radius: 20px;
  padding-left: 40px; /* Ensure space for the icon */
  position: relative; /* Remove absolute positioning */
  background-image: url("search_icon.png"); /* Set the icon image */
  background-position: 10px 50%; /* Position the icon at 10px from the left and vertically centered */
  background-repeat: no-repeat; /* Ensure icon is displayed only once */
}


#searchIcon {
  position: absolute;
  left: 10px; /* Adjust left position as needed */
  top: 50%;
  transform: translateY(-50%);
  margin-left: -10px; /* Add negative margin to push icon inside */
  display: none;
}

#cocktailImage {
    display: block;
    margin: 0 auto; /* Center horizontally */
}

#cocktailName {
    text-align: center;
}

#addToListButton {
    background-color: #FF7425;
    color: white;
    border: none;
	font-weight: bold;
    border-radius: 20px;
    padding: 15px 30px; /* Adjust padding to increase button size */
    cursor: pointer;
    display: block; /* Ensure block-level display for centering */
    margin: 0 auto; /* Center horizontally */
}

#addToListButton:hover {
    background-color: #FF8E5E; /* Change color on hover */
}

footer {
    text-align: center;
    padding: 10px 0;
    color: #f00; /* Red color for footer text */
}